#banner_designer {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding: 20px;
}

#banner_designer * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#banner_designer .degtop{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
#banner_designer .degbot{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}

#banner_designer h1.title.page-title {
    margin-top: 0;
    margin-bottom: 21px;
}

#banner_designer h2 {
    font-size: 28px;
}

#banner_designer h3 {
    font-size: 18px;
}

#banner_designer .vc {
    padding-top:10px;
}

#banner_designer .vc label{
    font-weight:normal;
}



#banner_designer_form input, #banner_designer_form select, #banner_designer_form textarea {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
}

#banner_designer_form input[type=color] {
    height:40px;
    width:50px;
    padding:3px;
}

#banner_designer_form .no-src-input {
    opacity: 0.8;
    font-size: 14px;
}

#banner_designer_form .layer-form.text-layer-form .form-control.text-layer-bg-opacity-form-control {
     margin-top: 12px;
     margin-bottom: 12px;
}

#banner_designer_form .image-src-input-buttons {
    margin-left: 6px;
}

#banner_designer_form .image-src-input-buttons button + button {
    margin-left: 4px;
}

#overlay_opacity {
    width: 100%;
}

#overlay_gradient_direction label {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	width: 36px;
	height: 36px;
	line-height: 34px;
    color: black;
    border-radius: 100%;
    border: 1px solid transparent;
}


#overlay_gradient_direction input[type="radio"]:checked + label {
	background-color: rgba(189,189,189,0.1);
	border: 1px solid black;
}


#overlay_gradient_direction input[type=radio]  {
    position: absolute;
    opacity: 0;
    z-index: -1;
}


#banner_designer_header .title {
    text-align: center;
}


#banner_wrap {
    margin: 20px 0px 0px 0px;
    width: 100%;
    padding: 0;
    overflow: auto;
}

#banner {
    position: relative;
    margin: auto;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: none;
}

#banner_overlay {
    position: absolute;
    top:0px;
    left:0px;
    background-color: #000;
    opacity: 1;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#banner .layer {
    cursor: move;
    position: absolute;
    z-index: 1;
    margin: 0 !important;
    border-style: solid;
    width: auto;
    background-color: transparent;
    border-width: 0;
    padding: 0;
}

#banner .layer.layer-type-image {
    border: 0;
}

#banner .layer.layer-type-image img {
    width: auto;
    height: auto;
}


#layer_form_head {
    margin-bottom: 20px;
    overflow: hidden;
    display: none;  
}

#add_layer_btns {
    display: inline-block;
    margin-left: 5px;
}

#layer_id_wrap {
    display: inline-block;
    margin-top: 7px;
}

#layer_stack_position_controls {
    display: inline-block;
    margin-left: 5px;
}

#layer_stack_position {
    margin-right: 5px;
}

#layer_center_tools {
    display: inline-block;
    margin-left: 5px;
}


#layer_generic_controls {
    float: right;
    overflow: hidden;
}

#remove_layer_btn {
    margin-left: 5px;
}


#banner_designer .icon {
    display: inline-block;

}

#banner_designer .icon.horizontal-center-icon {
    background-image: url(../icons/Horizontal-center.svg);
    width: 22px;
    height: 22px;

}

#banner_designer .icon.vertical-center-icon {
    background-image: url(../icons/Vertical-center.svg);
    width: 21px;
    height: 21px;
}

#banner_bottom_actions {
    margin-top: 30px;
    text-align: center;
}

#banner_bottom_actions > .btn + .btn {
    margin-left: 7px;
}

#banner_download_btn {
    display: none;
}

#layer_dragged_container {
    font-style: italic;
    visibility: hidden;
}

#layer_dragged_full_name_text {
    font-weight: bold;
}

